<div class="row">
  <div class="col-md-12 col-sm-12">
      <div class="bannerWrapper">
      <div class="box">
          <div class="logo">
          <p class="text-center" id="hotelIcon"><i class="fa fa-hotel text-center" id="hotelSvg"></i></p><br><br>
          <h1 class="text-center" id="bannerHeader">Welcome to Egumbini hotels!</h1>
          <p class="text-center" id="bannertext">Browse Through our vast array of beautiful spacicous suites</p>
      </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
      <div class="col-md-12">
      <h1 class="text-center">Who Are We??</h1>
      <p>Welcome to the first four-star luxury boutique hotel offering African hospitality in the heart of Soweto, a historically rich environment, with uniquely talented people focused on exceeding our guests’ expectations consistently!
        I am delighted to introduce you to a unique experience of boutique accommodation and conferencing, as can only be experienced at our establishment – graded with four stars by the Tourism Grading Council of South Africa. We are proud to offer you world-class facilities and amenities immersed with all the local flavour, culture, heritage and history of the most famous township – Kliptown, Soweto!</p> 
      </div>

      <div class="col-md-12">
          <h1 class="text-center">Our Promise</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!</p> 
          </div>
      </div>
  </div>
</div>


